.card {
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 30px;
  background: #fff;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

.card-header {
  margin-bottom: 8px;
}

.card-title {
  font-size: 2rem;
  font-weight: bold;
  color: rgb(0, 0, 62);
}

.card-content {
  font-size: 1.6rem;
  color: black;
}
